body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.action {
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit-button {
  width: 150px;
  height: 40px;
  font-family: inherit;
  font-weight: bold;
  background-color: #3498db;
  border: 2px solid #2980b9;
  cursor: pointer;
  border-radius: 3px;
  color: #fff;
  letter-spacing: 1px;
}

.success {
  color: green;
}

.error {
  color: red;
}
